@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter-italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/rubik.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/rubik-italic.ttf") format("truetype");
    font-style: italic;
}

@font-face{
    font-family: "Instrument Serif";
    src: url("./assets/fonts/instrument-serif.ttf") format("truetype");
}
@font-face {
    font-family: "Instrument Serif";
    src: url("./assets/fonts/instrument-serif-italic.ttf") format("truetype");
    font-style: italic;
}

@theme{
    --color-dt-yellow: #f4a20e;
    --color-dt-purple: #5c4dff;
    --font-inter: "Inter", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-instrument-serif: "Instrument Serif", serif;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}